@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.navSection {
    width: 100%;
    height: 48px;
    box-shadow: 3px 6px 16px #f2f2f2;
}

img {
    width: 6rem;
    min-width: 24px;
    max-width: 88px;
}

.nav {
    height: inherit;
    display: flex;
    flex-direction: row;
    padding: 0 4rem 0 4rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-btns {
    align-items: center; 
    margin: 16px;
}

.login{
    margin: 0 0.6rem;
}

.Button{
    font-family: "Noto Sans KR";
    font-size: 11px;
    padding: 8px 20px;
    color: white;
    background-color: #0D6EFD;
    border-radius: 8px;
    position: relative;
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media screen and (max-width: 640px){ 
    .nav{
        padding: 0 1rem 0 1rem;
    }
 } 