/* z-index 설정으로 컴포넌트를 map보다 위에 띄울 것 ! */
#table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 10px 20px;
    border: 1px solid #000;
}

p {
    color: #374279;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.subtext {
    font-size: 10px;
}

.emoji {
    width: 10px;
}

.title {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;

    width: 100%;
    font-style: normal;
    font-size: 13px;
    line-height: 23px;
    color: #444444;

    border-bottom: 1px solid #D9D9D9
}

.detailTitle {
    display: flex;
    gap: 0.2rem;
    align-items: baseline;
}

.subDetail {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.wrapper {
    position: absolute;
    width: 18rem;
    top: 5rem;
    right: 4rem;
    z-index: 2;

    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    justify-content: center;
}

.turnOff{  
    opacity: 0; 
    /* transition:all 600ms cubic-bezier(0.64, 0.01, 0.07, 1.65);  */
    transition: visibility 0.3s linear,opacity 0.3s linear;
} 

.sectionFirst {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 24px -4px rgba(43, 44, 50, 0.2);  

    display: flex;
    transition:all 300ms cubic-bezier(0.64, 0.01, 0.07, 1.65); 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.6rem;
    gap: 0.6rem;
}

.sectionSecond {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 24px -4px rgba(43, 44, 50, 0.2);

    display: flex;
    transition:all 300ms cubic-bezier(0.64, 0.01, 0.07, 1.65); 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  
    padding: 0.6rem;
    gap: 0.6rem;
}

.sectionThird {
    height: 40vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 8px 24px -4px rgba(43, 44, 50, 0.2);

    display: flex;
    transition:all 300ms cubic-bezier(0.64, 0.01, 0.07, 1.65); 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; 
    padding: 0.6rem;
    gap: 0.6rem;
}

.listSection {
    width: 100%;
    height: 40vh;
    overflow: scroll;
}

.listSection::-webkit-scrollbar {
    width: 4px;
}

.listSection::-webkit-scrollbar-thumb {
    height: 2%;
    width: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
}


.lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    padding: 0.8rem 0;

    border-bottom: solid 1px #D9D9D9;
    font-size: 12px;

}

.sectionForth {
    background-color: #0D6EFD;
    border-radius: 8px;
    box-shadow: 0px 8px 24px -4px rgba(43, 44, 50, 0.2);

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
 
    padding: 0.2rem 1rem;
}

.cardsSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.card {
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #E9ECEF;
    color: #6C757D;
}

.clicked {
    background-color: #0D6EFD;
    color: white;
}

.menuCard {
    padding: 0.8rem;
    border-radius: 8px;
    background-color: #0D6EFD;
    color: white;
}

.randomButton {
    width: 100%;
    height: 4vh;
    border: none;

    text-align: center;
    background-color: #0D6EFD;
    color: white;
    border-radius: 8px;
}

.infoWindow {
    width: 14rem;
    background-color: white;
    padding: 1rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.6rem;

    overflow-wrap: break-word;

    border-radius: 20px;
    border: solid 1px #d4d4d4;
}

.storeName {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

.categoryText {
    font-size: 12px;
    font-weight: 600;
    color: #444444;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.close:hover {
    cursor: pointer;
}

.imageSection {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    height: 6rem;
    object-fit: cover;
}

button.foldButton { 
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    width: 6rem;

    background-color: white;
    border: solid 1px #d4d4d4;
    border-radius: 8px;
    
    display:none;
    box-shadow: 0px 8px 24px -4px rgba(43, 44, 50, 0.2);
    text-align: center;
    place-content: center;
    padding: 0.4rem;
    align-self: end;
    z-index: 2; 
    font-size: 0.4rem;
}

.addressText {
    width: inherit;
    white-space: normal;
    font-size: 12px;
    font-weight: 400;
    word-break: break-all;
    color: #444444;
}

.detailSection {
    background-color: white;
    position: absolute;
    top: 200px;
    left: 100px;

    z-index: 10;
}

.overlay {
    background-color: wheat;
    padding: 2rem;
}

.korean {
    background-position: 2.2rem;
    background-size: 10%;
    background-image: url(../Img/korean.png);
    background-repeat: no-repeat;
}

.japanese {
    background-position: 2.2rem;
    background-size: 10%;
    background-image: url(../Img/japanese.png);
    background-repeat: no-repeat;
}

.chinese {
    background-position: 2.2rem;
    background-size: 10%;
    background-image: url(../Img/chinese.png);
    background-repeat: no-repeat;
}

.dining {
    background-position: 2.2rem;
    background-size: 10%;
    background-image: url(../Img/dining.png);
    background-repeat: no-repeat;
}


@media screen and (max-width: 420px) {
    p {
        font-size: 0.8rem;
    }

    .wrapper { 
        width: 12rem;
        right: 1rem;
    }

    .korean {
        background-position: 1rem;
        background-size: 14%;
    }

    .japanese {
        background-position: 1rem;
        background-size: 14%;
    }

    .chinese {
        background-position: 1rem;
        background-size: 14%;
    }

    .dining {
        background-position: 1rem;
        background-size: 14%;
    }

    .sectionThird {
        height: 32vh;
    }

    .sectionForth {
        display: none;
    }

    button.foldButton { 
        display: flex;
    }
}