/* Start.css (8/3 기준 아직 수정중) */

img{
    object-fit: fill;
} 

h1{
    font-size: 1rem;
    color: white;
    background-color: #2B2C32; 
    padding: 1rem 4rem;
}

span{
    position: absolute;
    pointer-events: none;
    padding: 2rem;
    right: 0;
    bottom: 0;
}

.edit{
    margin: 1.4rem 0 ;
    font-size: 1.2rem;
    color: #f4f4f4;
}

.subTextStart{ 
    font-size: 12px; 
    line-height: 150%; 
    font-weight:200;
    color: #f4f4f4;
}

.page{
    display: grid;
    place-items: center;
}

.back{ 
    width: 100vw;
    height: 100vh; 
    background-image: url(../Img/seoul.png);
    background-repeat: no-repeat;
}

.btnSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

button.editor {
    border-radius: 8px;
    width: 21rem;
    height: 16rem;
    min-width: 32px;
    min-height: 24px;
    overflow: hidden;
    -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
    transition:background-color 0.2s, transform 0.2s;
}

.submitButton{
    margin-top: 24px;
    width: 40vw;
    height: 48px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #0D6EFD;
    color: white;
    border-radius: 8px;  
}

.editor{
    background-image: url("../Img/editor1.png");
    background-position: no-repeat center right;
    background-size: cover;
    background-color: #D9D9D9;

    position:relative;

    color: white;
    text-align: end; 
    padding: 1.4rem; 
    font-size: 40px;
    font-weight: 600;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.editText{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2rem;
}

.clicked{
    background-color: #0D6EFD;

} 

.a{ 
    background-image: url(../Img/editor1.png);
    background-repeat: no-repeat;
}
.b{ 
    background-image: url(../Img/editor2.png);
    background-repeat: no-repeat;
}
.c{ 
    background-image: url(../Img/editor3.png);
    background-repeat: no-repeat;
}
.d{ 
    background-image: url(../Img/editor4.png);
    background-repeat: no-repeat;
}


@media screen and (max-width: 1440px) {
	button.editor {
        border-radius: 8px;
        width: 16rem;
        height: 12rem; 
    }

    .page{
        top: 64px;
    }
}
