검색된 식당 이름 : {{info.store_name}} <br>
검색된 식당의 주소 : {{info.address}} <br><br>

<h1>식당 정보 저장을 원하는 경우</h1><br>

<form method = "POST" action = "http://127.0.0.1:8000/stores/save/">
    {% csrf_token %}
    <h1 >밑에꺼 건드리지 마 <h1/>
    <textarea name="info">{{info}}</textarea> 
    <!-- <input type="text" value = {{info.store_name}} name="store_name">
    <input type="text" value = {{info.address}} name="address">
    <input type="text" value = {{info.longitude}} name="longitude">
    <input type="text" value = {{info.latitude}} name="latitude">
    <input type="text" value = {{info.phone_number}} name="phone_number"> -->
    <br><br>넣아줘야 함<br>
    <input type="text" value = "영업 시간" name="time">
    <input type="text" value = "메뉴" name="main_menu">
    <input type="text" value = "에디터" name="user">
    <input type="text" value = "카테고리" name="category">
    <!-- <input type="file" value = "이미지1" name="image1">
    <input type="file" value = "이미지2" name="image2"> -->
    <br><br>
    <input type="submit" value = "식당 저장하기">
</form>

<br><br>
<h2>식당 재검색</h2><br>
<form method = "POST" action = "http://127.0.0.1:8000/stores/edit/">
    {% csrf_token %}
    <input type="text" value = "식당 이름" name="store_name">
    <!-- <input type="text" value = "운영 시간" name="time">
    <input type="file" value = "이미지1" name="image1">
    <input type="file" value = "이미지2" name="image2"> -->
    <br><br>
    <input type="submit" value = "검색!">
</form>